name: PHP Composer

on:
  push:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v2

#     - name: Set up SSH key
#       run: echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_rsa && chmod 600 ~/.ssh/id_rsa

    - name: Connect to EC2 instance and create directory
      uses: appleboy/ssh-action@master
      with:
        host: 52.90.105.239
        username: ubuntu
        key: ${{ secrets.SSH_PRIVATE_KEY }}
        port: 22
        script: |
          cd /var/www/html
          sudo git pull origin main
          sudo systemctl restart apache2       
#   sudo apt-get update
#           sudo apt-get install -y apache2
#           sudo rm -rf /var/www/html/*
#           cd /var/www/html
#           sudo git init
#           sudo git remote add origin https://github.com/Ruzal-create/php-cicd.git
